name: ci

# Controls when the action will run
on:

  # Trigger the workflow on all pushes
  push:
    branches:
    - '**'

  # Trigger the workflow on all pull requests
  pull_request: ~

  # Run workflow on release event
  release:
    types:
    - published

  # Allow workflow to be dispatched on demand
  workflow_dispatch: ~

jobs:

  ci:
    name: ci
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: 12

    - name: Install Dependencies
      run: npm install

    - name: Code QA
      run: npm run lint -- --no-fix

    - name: Run Tests
      run: npm test

  cd:
    name: cd
    if: github.event_name == 'release'
    needs:
    - ci
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
